.basket {}

.basket-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-bottom: solid 1px gray;
}

.basket-image {
    width: 150px;
    height: 150px;
}

.basket-data {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.basket-title {}

.error-message {
    color: red;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .basket-card {
        flex-direction: row-reverse;
        justify-content: space-around;

    }

    .basket-image {
        width: 100px;
        height: 100px;
    }

    .basket-title {
        font-size: 25px;
    }

    .basket-data {

        align-items: flex-end;
    }
}