.basket {
    position: relative;
}

.basket-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-bottom: solid 1px gray;
}

.basket-image {
    width: 150px;
    height: 150px;
}

.basket-data {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.basket-title {}

.error-message {
    color: red;
    text-align: center;
}

.btn-buy {
    position: fixed;
    right: 50px;
    bottom: 30px;
    z-index: 10;
}

@media screen and (max-width:700px) {
    .basket-title {
        font-size: 18px;
    }

    .basket-image {
        width: 80px;
        height: 120px;
    }
}

@media screen and (max-width: 420px) {
    .basket-card {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .basket-image {
        width: 60px;
        height: 100px;
    }

    .basket-title {
        font-size: 17px;
    }

    .basket-data {
        flex-direction: column;
        align-items: flex-start;
    }

    .btn-buy {
        right: 10px;
        bottom: 10px;
    }
}