.card-product {
    width: 27%;
    margin-top: 40px;
}

.card-image {
    width: 100%;
    height: 200px;
}

.card-price {}

.card-title {}

.card-description {}

@media screen and (max-width: 1000px) {
    .card-product {
        width: 45%;
    }
}

@media screen and (max-width: 480px) {
    .card-product {
        width: 90%;
    }

}