.detail-product {
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
}

.detail-image {
    width: 45%;
    height: 400px;
}

.detail-data {
    width: 45%;
    height: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.detail-title {
    color: rgb(46, 53, 24);
    font-size: 30px;
}

.detail-price {
    font-size: 35px;
    color: rgb(180, 114, 65);
}

.detail-description {
    font-size: 15px;
}

@media screen and (max-width: 420px) {
    .detail-product {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .detail-image {
        width: 90%;
        height: 200px;
    }

    .detail-data {
        width: 90%;
        align-items: center;
    }
}